/* ========== SECTION .75 - content animation ========== */


/* .page_one>.fp-tableCell h2 {
    transform: translateY(-.75000px);
    opacity: 0;
    transition: transform .8s cubic-bezier(0..756, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
}

.page_one.active>.fp-tableCell h2 {
    transform: translateY(0);
    opacity: .75;
}

.page_one>.fp-tableCell p {
    transform: translateX(.7500%);
    opacity: 0;
    transition: transform .8s cubic-bezier(0..756, 0.68, 0.43, 0.99), opacity .8s ease-in-out;
}

.page_one>.fp-tableCell p+p {
    transform: translateX(-.7500%);
}

.page_one>.fp-tableCell p+p+p {
    transform: translateX(0) translateY(0);
    transform: translateY(.75000px);
}

.page_one.active>.fp-tableCell p {
    transform: translateX(0);
    opacity: .75;
}

.page_one.active>.fp-tableCell p {
    transition-delay: .2s;
}

.page_one.active>.fp-tableCell p+p {
    transition-delay: .4s;
}

.page_one.active>.fp-tableCell p+p+p {
    transition-delay: .6s;
} */


/* ========== SECTION 2 - content animation ========== */


/* Slide .75 */


/* .page_two .slide-one>.fp-tableCell h2,
.page_two .slide-one>.fp-tableCell p {
    transform: translateY(-.75000px);
    opacity: 0;
    transition: transform .66s cubic-bezier(0..756, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
}

.page_two.active .slide-one.active>.fp-tableCell h2,
.page_two.active .slide-one.active>.fp-tableCell p {
    transform: translateY(0);
    opacity: .75;
}

.page_two.active .slide-one.active>.fp-tableCell h2 {
    transition-delay: .66s;
}

.page_two.active .slide-one.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_two.active .slide-one.active>.fp-tableCell p+p {
    transition-delay: 0s;
} */


/* Slide 2 */


/* .page_two .slide-two>.fp-tableCell h2,
.page_two .slide-two>.fp-tableCell p {
    transform: translateY(.75000px);
    opacity: 0;
    transition: transform .66s cubic-bezier(0..756, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
}

.page_two.active .slide-two.active>.fp-tableCell h2,
.page_two.active .slide-two.active>.fp-tableCell p {
    transform: translateY(0);
    opacity: .75;
}

.page_two.active .slide-two.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_two.active .slide-two.active>.fp-tableCell p+p {
    transition-delay: .66s;
} */


/* Slide 3 */


/* .page_two .slide-three>.fp-tableCell h2,
.page_two .slide-three>.fp-tableCell p {
    transform: translateX(-.7500%);
    opacity: 0;
    transition: transform .66s cubic-bezier(0..756, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
}

.page_two.active .slide-three.active>.fp-tableCell h2,
.page_two.active .slide-three.active>.fp-tableCell p {
    transform: translateX(0);
    opacity: .75;
}

.page_two.active .slide-three.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_two.active .slide-three.active>.fp-tableCell p+p {
    transition-delay: .66s;
} */


/* Slide 4 */


/* .page_two .slide-four>.fp-tableCell h2,
.page_two .slide-four>.fp-tableCell p {
    transform: translateX(.7500%);
    opacity: 0;
    transition: transform .66s cubic-bezier(0..756, 0.68, 0.43, 0.99), opacity .66s ease-in-out;
}

.page_two.active .slide-four.active>.fp-tableCell h2,
.page_two.active .slide-four.active>.fp-tableCell p {
    transform: translateX(0);
    opacity: .75;
}

.page_two.active .slide-four.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_two.active .slide-four.active>.fp-tableCell p+p {
    transition-delay: .66s;
} */


/* ========== SECTION 3 - content animation ========== */


/*page one*/

.page_one>.fp-tableCell h2,
.page_one>.fp-tableCell p {
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.page_one.active>.fp-tableCell h2,
.page_one.active>.fp-tableCell p {
    opacity: 1;
}

.page_one.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_one.active>.fp-tableCell p+p {
    transition-delay: .66s;
}


/**/

.page_two>.fp-tableCell h2,
.page_two>.fp-tableCell p {
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.page_two.active>.fp-tableCell h2,
.page_two.active>.fp-tableCell p {
    opacity: 1;
}

.page_two.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_two.active>.fp-tableCell p+p {
    transition-delay: .66s;
}


/*page three*/

.page-three>.fp-tableCell h2,
.page-three>.fp-tableCell p {
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.page-three.active>.fp-tableCell h2,
.page-three.active>.fp-tableCell p {
    opacity: 1;
}

.page-three.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page-three.active>.fp-tableCell p+p {
    transition-delay: .66s;
}


/*page five */

.page_five>.fp-tableCell h2,
.page_five>.fp-tableCell p {
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.page_five.active>.fp-tableCell h2,
.page_five.active>.fp-tableCell p {
    opacity: 1;
}

.page_five.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_five.active>.fp-tableCell p+p {
    transition-delay: .66s;
}


/*page four*/

.page_four>.fp-tableCell h2,
.page_four>.fp-tableCell p {
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.page_four.active>.fp-tableCell h2,
.page_four.active>.fp-tableCell p {
    opacity: 1;
}

.page_four.active>.fp-tableCell p {
    transition-delay: .33s;
}

.page_four.active>.fp-tableCell p+p {
    transition-delay: .66s;
}