<html>

<body>
    <form action={{url}} method="POST" enctype="multipart/form-data">
        <div><input type="file" name={{filetype}} id={{filetype}}></div>
        <div>name<input type="text" name="name" id="name"></div>
        <div>role<input type="text" name="role" id="role"></div>
        <div>designation<input type="text" name="designation" id="designation"></div>
        <div>institution<input type="text" name="institution" id="institution"></div>
        <div>contact_no<input type="text" name="contact_no" id="contact_no"></div>
        <div>email_id<input type="text" name="email_id" id="email_id"></div>
        <div><input type="submit" name="submit" value="save"></div>

    </form>
</body>

</html>