<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.css" > -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/jquery.fullpage.min.css"> -->
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <!-- <link rel="stylesheet" type="text/css" href="../static/css/slick.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/animation.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/slick-theme.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.0/slick.css"/> -->
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
    <!-- <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet"> -->

    <!-- <link rel="stylesheet" type="text/css" href="../static/css/cardslider.css"> -->

    <!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->

    <title>Inter NIT Sports | NIT Kurukshetra</title>
</head>

<body>
    <div class="container" style="margin:40px">
        <form method="POST" id="form1">
            <div class="form-group row">
                <label for="event" class="col-2 col-form-label">select event</label>
                <div class="col-10">
                    <select class="form-control" name="event" id="event-dropdown">
                              
                              
                            </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Name Of 1st Day eg. Day1</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="" name="name" id="name">
                </div>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Optional JavaScript -->

    <script src="../static/js/jquery-3.2.1.min.js "></script>
    <script src="../static/js/bootstrap.js "></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin=" anonymous "></script> -->
    <!-- <script type="text/javascript " src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js "></script> -->
    <!-- <script type="text/javascript " src="../static/js/scrolloverflow.min.js "></script> -->
    <!-- <script type="text/javascript " src="../static/js/jquery.fullpage.min.js "></script> -->
    <!-- <script type="text/javascript " src="https://cdn.jsdelivr.net/jquery.slick/1.8.0/slick.min.js "></script> -->
    <!-- <script type="text/javascript " src="../static/js/slick.min.js "></script> -->
    <!-- <script type="text/javascript " src="../static/js/script.js "></script> -->
    <script>
        function Item(id, name) {
            // var obj = '<div class="col-12 col-md-4"><div class="event-card-2" onclick=location.href="' + link + '"><span><p>' + name + '</p></span></div></div>';
            var obj = '<option value="' + id + '">' + name + '</option>'
            obj = $.parseHTML(obj);
            return obj[0];
        }
        $.ajax({
            dataType: "json",
            // url: "https://5a5b96f44611170012fe752c.mockapi.io/api/event",
            url: "/api/event/2016/get",

            method: "GET",
            success: function(data) {
                console.log("printing data:", data.array[0].name);

                var templateData = [];
                $.each(data.array, function(k, v) {
                    var obj = {};
                    //storing link for a spcific event in link variable
                    obj.id = v.id;
                    obj.name = v.name;
                    // console.log(v.name); // console.log("k.start_name");
                    templateData.push(obj);

                });
                templateData.forEach(function(k) {
                    $('#event-dropdown').append(Item(k.id, k.name));
                });

            }
        });

        $("#form1").submit(function(e) {
            //console.log(e);
            var event_id = $("#event-dropdown").val();
            console.log($("#event-dropdown").val());
            $(this).attr("action", "/api/day/" + event_id + "/add");
        });
    </script>
</body>

</html>