<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <title>Inter NIT Sports | NIT Kurukshetra</title>
</head>

<body>
    <div class="container" style="margin-top:40px">
        <form action={{url}} method="POST">
            <div class="form-group row">
                <label for="college_name" class="col-2 col-form-label">college name</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="" name="college_name" id="college_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="college_short" class="col-2 col-form-label">short name of college</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="" name="college_short" id="college_short">
                </div>
            </div>
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    <script src="../static/js/jquery-3.2.1.min.js "></script>
    <script src="../static/js/bootstrap.js "></script>
</body>

</html>