<html>

<body>
    atleast i got loaded
    <script>
        // document.body.style.background = "#000"
        // var requestURL = 'localhost:8080/load-image/6';
        // var request = new XMLHttpRequest();
        // request.open('GET', requestURL);
        // request.responseType = 'json';
        // request.send();
        // request.onload = function() {
        //     var res = request.response;
        //     var urls = res['urls'];
        //     var url;
        //     for (url in urls) {
        //         var x = document.createElement("IMG");
        //         x.setAttribute("src", url);
        //         x.setAttribute("width", "304");
        //         x.setAttribute("height", "228");
        //         document.body.appendChild(x);
        //     }
        //     var x = document.createElement("IMG");
        //     x.setAttribute("src", '../photos/home_icon.png');
        //     x.setAttribute("width", "304");
        //     x.setAttribute("height", "228");
        //     document.body.appendChild(x);
        // }

        const url = 'https://localhost:8080/load-image/7';

        function createNode(element) {
            return document.createElement(element);
        }

        function append(parent, child) {
            return parent.appendChild(child);
        }

        fetch(url).then((response) => response.json()).then(function(data) {
            var urls = data.urls;
            var url;
            for (url in urls) {
                var img = createNode('img');
                img.src = url;
                append(document.body, img);
            }
        });
    </script>
</body>

</html>